body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#cart {
    margin-bottom: 20px;
}

#total {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
/* Cart */
#cart-container {
    overflow-x: auto;
}

#cart-container table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}
#cart-container table thead{
    font-weight: 700;
}
#cart-container table thead{
    background: #0056b3;
    color: #fff;
    border: none;
    padding: 6px 0;
}
#cart-container table td{
    border: 1px solid #333;
    text-align: center;
}
#cart-container table td:nth-child(1){
    width: 100px;
}
#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3){
    width: 200px;
}
#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6){
    width: 170px;
}
#cart-container table tbody img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}
#cart-bottom .coupon>div,
#cart-bottom .total>div{
    border: 1px solid #ccc;
}
#cart-bottom .coupon h5,
#cart-bottom .total h5{
    background: #0056b3;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-weight: 700;
}
#cart-bottom .coupon p,
#cart-bottom .coupon input{
    padding: 0 12px;
}
#cart-bottom .coupon input{
    height: 44px;
}
#cart-bottom .coupon input,
#cart-bottom .coupon button{
    margin: 0 0 20px 12px;
}
#cart-bottom .total div>div{
    padding: 0 12px;
}
.second-hr{
    background: #b8b7b3;
    width: 100%;
    height: 1px;
}
#cart-bottom .total div>button{
    margin: 0 12px 20px 0;
    display: flex;
    justify-content: flex-end;
}
.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cartItem {
    width: 700px;
    height: 250px;
    display: flex;
  
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
  }
  
  .cartItem img {
    width: 200px;
  }
  
  .cartItem .description {
    width: 100%;
    font-size: 30px;
  }
  
  .countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
  }
  
  .checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }