.error-page {
    text-align: center;
    margin-top: 50px;
  }
  
  .error-page h1 {
    font-size: 2em;
    color: #ff0000; /* Red color for error message */
  }
  
  .error-page p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 20px;
  }
  
  .error-page button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .error-page button:hover {
    background-color: #cc0000; /* Darker red color on hover */
  }