.slick-next{
    color: gray;
}

.slick-prev{
    color: gray;
    font-size: 1rem !important;
    left: -18px;
}

.slick-next:hover{
    color: black;
}

.slick-prev:hover{
    color: black;
}

.slide-hover:hover{
    box-shadow: 2px 12px 15px #999;
    transition-duration: 500ms;
    transform: translateY(-7px);
}
/* slider.css */

.slick-slide {
    position: relative;
  }
  
  .slick-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .slick-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    color: white;
    width: 80%;
    max-width: 300px;
    z-index: 1;
  }
  
  